[package]
name = "jit-demo"
version = "0.0.0"
authors = ["The Cretonne Project Developers"]
build = "build.rs"
# When cargo is updated to support SPDX 3.1, we can uncomment this.
#license = "Apache-2.0 WITH LLVM-exception"
license-file = "LICENSE"

[[bin]]
name = "toy"
path = "src/toy.rs"

[dependencies]
cretonne = "0.9.0"
cretonne-module = "0.9.0"
cretonne-simplejit = "0.9.0"
peg = "0.5.4"

[build-dependencies]
peg = { version = "0.5.4" }
